html{
    /* background-image: url(https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: purple;

}
body{
    margin: 0;
    padding: 0;  
}
.sa1{
    font-size: 30px;
    color: blue;
    margin-bottom: 15px;
}
#form{
    width: 45%;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    padding: 40px 25px 50px 25px;
    transform: translate(0%, -10%);
}
#FName{
    width: 49%;
    display: inline-block;
    font-size: medium;
    padding: 5px;
}
#LName{
    width: 49%;
    display: inline-block;
    font-size: medium;
}
#Email{
    display: block;
    font-size: medium;
}
#Phone{
    display: block;
    font-size: medium;
}
#FP{
    display: block;
    font-size: medium;
}
#SP{
    display: block;
    font-size: medium;
}
footer{
    background-color: purple;
    margin-top: -8%;
}
.icone{ 
    color: white;
    text-align: center;
    margin: 15px 0px;
 }
 .ba5000{
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    padding-top: 5%;
}
/* #UH{
    display: none;
}
#UZ{
    display: none;
} */